/* --------------------------------- *
 *     CSS for MJ's Whack-a-Mole     *
 * Copyright 2014, Mary Jane Thillen *
 *   Contact: MJThillen@gmail.com    *
 *  Last Modified: 20 January 2014   *
 * --------------------------------- *
 * Swatch Colors:                    *
 * 1a0c03 - dark brown               *
 * 3f7e31 - grass green              *
 * --------------------------------- */

body {
	background-color: #1a0c03;
    font-family: Helvetica, Arial, sans-serif;
    
    /* These settings disable selection, 
     * which can be a problem when the
     * player is clicking frantically. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* General Styling */
body, h2 {
    text-align: center;
}

#congratulations, #header, #molePatch, #welcome, .button, .moleImage {
    margin: auto;
}

/* Header Elements*/
#header {
    padding: 40px;
	height: 150px;
	background-color: #3f7e31;
	color: #eeeeee;
    border-radius: 10px;
    border: 5px dotted #ffffff;
}

#welcome {
    background-image: url('welcome.png');
    border-radius: 10px;
    width: 528px;
    height: 75px;
}

#scoreText {
    font-size: 15px;
    margin-bottom: 20px;
}

.button {
	height: 20px;
	width: 80px;
	background-image: url('button.png');
	border-radius: 8px;
	color: #eeeeee;
	cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    display: inline-block;
}

/* Rules Window */
#rulesWindow {
    position: fixed;
    background-color: #3f7e31;
    margin: 20px 50px;
    max-width: 400px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    border: 5px dotted #ffffff;
    display: none;
}

/* Game over Window */
#gameOver {
    position: fixed;
    width: 100%;
    top: 248px;
    z-index: 2;
}

#congratulations {
    position: relative;
    background-color: #3f7e31;
    width: 30%;
    max-height: 250px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
    border-left: 5px dotted #ffffff;
    border-right: 5px dotted #ffffff;
    border-bottom: 5px dotted #ffffff;
    display: none;
}

/* Mole Patch and moles */

#molePatch {
    display: inline-block;
    background-image: url('grass.png');
    background-repeat: no-repeat;
    width: 818px;
    height: 700px;
}

#moleTable {
    position: relative;
    margin-top: 60px;
    margin-left: 25px;
}

.mole {
	background-image: url('hole.png');
	width: 150px;
	height: 150px; 
	cursor: url('hammer.png'), pointer;
}

.moleImage {
    background-image: url('mole.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 150px;
    display: none;
}

.spacer {
    min-height: 30px;
}
